In [1]:
# Import Pandas and NumPy.
import pandas as pd
import numpy as np

In [2]:
# Read CSV file from the current working directory.
ad = pd.read_csv('actual_duration.csv')

ar = pd.read_csv('appointments_regional.csv')

nc = pd.read_excel('national_categories.xlsx')

**Question 1:** Between what dates were appointments scheduled?

In [3]:
# View the first five rows of appointment_date for the ad DataFrame to determine the date format.
ad.head(5)

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [4]:
# View the first five rows of appointment_date for the nc DataFrame to determine the date format.
nc.head(5)

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [5]:
# Change the date format of ad['appointment_date'].
ad['appointment_date'] = pd.to_datetime(ad['appointment_date'])

# View the DataFrame.
ad.info()

#View the DataFrame
ad.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  datetime64[ns]
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 8.4+ MB

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,16-20 Minutes,730

In [6]:
# Change the date format of ad['appointment_date'].
ar['appointment_month'] = pd.to_datetime(ar['appointment_month'])

# View the DataFrame.
ar.info()

#View the DataFrame
ar.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  datetime64[ns]
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 31.9+ MB

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01-01,Attended,GP,Face-to-Face,8 to 14 Days,11971

In [7]:
# Determine the minimum and maximum dates in the ad DataFrame.
print (ad.appointment_date.min())
print (ad.appointment_date.max())

2021-12-01 00:00:00
2022-06-30 00:00:00

In [8]:
# Determine the minimum and maximum dates in the nc DataFrame.
print (nc.appointment_month.min())
print (nc.appointment_month.max())

2021-08
2022-06

**Question 2:** Which service setting was the most popular for NHS North West London from 1 January to 1 June 2022?

In [9]:
#This produces a table of the data from 1st Jan to 1sr June 2022 for North West London
nc2 = nc.loc[((nc['appointment_date'] >= '2022-1-1') & (nc['appointment_date'] <= '2022-6-1') & (nc['icb_ons_code'] == 'E54000027'))]
print(nc2)

       appointment_date icb_ons_code              sub_icb_location_name  \
800289       2022-01-01    E54000027  NHS North West London ICB - W2U3Z
800290       2022-01-01    E54000027  NHS North West London ICB - W2U3Z
800291       2022-01-01    E54000027  NHS North West London ICB - W2U3Z
800292       2022-01-01    E54000027  NHS North West London ICB - W2U3Z
800293       2022-01-01    E54000027  NHS North West London ICB - W2U3Z
...                 ...          ...                                ...
806220       2022-06-01    E54000027  NHS North West London ICB - W2U3Z
806221       2022-06-01    E54000027  NHS North West London ICB - W2U3Z
806222       2022-06-01    E54000027  NHS North West London ICB - W2U3Z
806223       2022-06-01    E54000027  NHS North West London ICB - W2U3Z
806224       2022-06-01    E54000027  NHS North West London ICB - W2U3Z

                  service_setting            context_type  \
800289                   Unmapped                Unmapped
800290       Primary Care Network  Care Related Encounter
800291                      Other    Inconsistent Mapping
800292           General Practice    Inconsistent Mapping
800293       Primary Care Network  Care Related Encounter
...                           ...                     ...
806220  Extended Access Provision  Care Related Encounter
806221  Extended Access Provision  Care Related Encounter
806222           General Practice  Care Related Encounter
806223  Extended Access Provision  Care Related Encounter
806224  Extended Access Provision  Care Related Encounter

                   national_category  count_of_appointments appointment_month
800289                      Unmapped                    496           2022-01
800290               Clinical Triage                     19           2022-01
800291          Inconsistent Mapping                      1           2022-01
800292          Inconsistent Mapping                     16           2022-01
800293               Planned Clinics                     29           2022-01
...                              ...                    ...               ...
806220                    Home Visit                      4           2022-06
806221  General Consultation Routine                     27           2022-06
806222   Unplanned Clinical Activity                    626           2022-06
806223    General Consultation Acute                    224           2022-06
806224               Clinical Triage                     96           2022-06

[5936 rows x 8 columns]

In [10]:
nc2.groupby('service_setting').count_of_appointments.nlargest(10).reset_index()

              service_setting  level_1  count_of_appointments
0   Extended Access Provision   805320                    399
1   Extended Access Provision   803134                    383
2   Extended Access Provision   805601                    372
3   Extended Access Provision   800944                    371
4   Extended Access Provision   804798                    370
5   Extended Access Provision   805879                    369
6   Extended Access Provision   805837                    365
7   Extended Access Provision   805032                    358
8   Extended Access Provision   803465                    345
9   Extended Access Provision   801175                    339
10           General Practice   805547                  15056
11           General Practice   805256                  14964
12           General Practice   805832                  14907
13           General Practice   805595                  14904
14           General Practice   805311                  14818
15           General Practice   805872                  14702
16           General Practice   803142                  14597
17           General Practice   802848                  14541
18           General Practice   802570                  14499
19           General Practice   805694                  14482
20                      Other   800396                    609
21                      Other   802601                    602
22                      Other   803491                    600
23                      Other   804538                    599
24                      Other   800679                    598
25                      Other   802941                    589
26                      Other   803730                    588
27                      Other   800792                    585
28                      Other   801349                    585
29                      Other   805932                    584
30       Primary Care Network   801833                    443
31       Primary Care Network   803478                    428
32       Primary Care Network   801428                    421
33       Primary Care Network   800975                    417
34       Primary Care Network   801246                    416
35       Primary Care Network   804045                    407
36       Primary Care Network   803557                    404
37       Primary Care Network   800646                    402
38       Primary Care Network   800385                    401
39       Primary Care Network   800667                    401
40                   Unmapped   805890                   3913
41                   Unmapped   805284                   3889
42                   Unmapped   805561                   3879
43                   Unmapped   800901                   3780
44                   Unmapped   800613                   3764
45                   Unmapped   801185                   3751
46                   Unmapped   803150                   3700
47                   Unmapped   801793                   3698
48                   Unmapped   804759                   3689
49                   Unmapped   802870                   3684

**Question 3:** Which month had the highest number of appointments?

In [11]:
#Method 1
nc.groupby(pd.Grouper(key='appointment_date',freq='M')).agg({'count_of_appointments':'sum'})

                  count_of_appointments
appointment_date
2021-08-31                     23852171
2021-09-30                     28522501
2021-10-31                     30303834
2021-11-30                     30405070
2021-12-31                     25140776
2022-01-31                     25635474
2022-02-28                     25355260
2022-03-31                     29595038
2022-04-30                     23913060
2022-05-31                     27495508
2022-06-30                     25828078

In [12]:
#Method 2
nc.groupby(nc['appointment_date'].dt.strftime('%B'))['count_of_appointments'].sum().sort_values()

appointment_date
August       23852171
April        23913060
December     25140776
February     25355260
January      25635474
June         25828078
May          27495508
September    28522501
March        29595038
October      30303834
November     30405070
Name: count_of_appointments, dtype: int64

**Question 4:** What was the total number of records per month?

In [13]:
nc['appointment_date'].groupby(nc.appointment_date.dt.to_period("M")).agg('count')

appointment_date
2021-08    69999
2021-09    74922
2021-10    74078
2021-11    77652
2021-12    72651
2022-01    71896
2022-02    71769
2022-03    82822
2022-04    70012
2022-05    77425
2022-06    74168
Freq: M, Name: appointment_date, dtype: int64